<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SS Homoeo Clinic</title>

<link rel="stylesheet" href="../static/style.css">

<script src="../static/script.js"></script>

</head>
<body>

<!-- NAVBAR -->
<nav class="navbar">
  <div class="logo">SS Homoeo Clinic</div>
  <div class="menu-toggle" onclick="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="nav-links" id="navLinks">
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#doctor">Our Doctor</a>
    <a href="#testimonials">Testimonials</a>
    <button class="btn"><a href="#booking" style="color: white;">Book Appointment</a></button>
  </div>
</nav>

<!-- HERO -->
<section class="hero" id="home" data-aos="fade-up">
  <img src="https://cdn-icons-png.flaticon.com/512/4320/4320337.png" class="float float1">
  <img src="https://cdn-icons-png.flaticon.com/512/2966/2966327.png" class="float float2">
  <div class="hero-text">
    <p>Trusted Homoeo Care</p>
    <h1>Natural Healing for Modern Life</h1>
    <p>Safe, gentle and personalized homoeopathic treatments designed for long-term wellness.</p>
    <button class="btn"><a href="#booking" style="color: white; text-decoration: none;" >Book Appointment</a></button>
  </div>
  <div class="hero-img">
    <img src="https://images.unsplash.com/photo-1594824476967-48c8b964273f?q=80&w=800">
    <!-- <img src="https://images.unsplash.com/photo-1582750433449-648ed127bb54?q=80&w=800"> -->
  </div>
</section>

<!-- ABOUT -->
<section class="about-section" id="about" data-aos="zoom-in">
  <div class="about-container">
    <div class="about-left">
      <h2>Personalized Healing with a Modern Approach</h2>
      <p class="desc">We treat root causes with safe and natural homoeopathy, delivering long-term wellness.</p>
      <div class="about-points">
        <div>✔️ 10+ Years Experience</div>
        <div>✔️ Personalized Care</div>
        <div>✔️ Safe Medicines</div>
        <div>✔️ Holistic Healing</div>
      </div>
    </div>
    <div class="about-right">
      <img src="static\OIP.webp">
    </div>
  </div>
</section>

<!-- DOCTORS -->
<section class="doctor-grid" id="doctor">
  <div class="doctor-card">
    <img src="static\dr. S. Saraswathi.jpeg" alt="" >
    <h3>Dr. S. Saraswathi</h3>
    <p>Founder</p><br>
  </div>
  <div class="doctor-card">
    <img src="static\dr. S Srimathi.jpeg">
    <h3>Dr. S. Srimathi</h3>
    <p>Co - Founder</p><br>
  </div>
</section>

<!-- Treatment -->
<section class="treatment-section">
  <h2>Our Treatment</h2>

  <div class="treatment-grid">
    <div class="treatment-card">Bach Flower</div>
    <div class="treatment-card">Skin Disorders</div>
    <div class="treatment-card">Chronic Diseases</div>
    <div class="treatment-card">Women’s Health</div>
    <div class="treatment-card">General Health Conditions</div>
    <div class="treatment-card">Diet & Nutrition Guidance</div>
    <div class="treatment-card">Yoga & Lifestyle Plans</div>
  </div>
</section>

<!-- TESTIMONIALS -->
<section class="testimonials" id="testimonials">
  <h2>What Our Patients Say</h2>
  <div class="testimonial-grid">
    <div class="testimonial-card">Great treatment & care!</div>
    <div class="testimonial-card">Highly professional clinic.</div>
    <div class="testimonial-card">Best homoeo experience.</div>
  </div>
</section>

<!-- BOOKING + MAP -->
<section class="booking-map" id="booking">
  <div class="booking-left">
    <h2>Book Appointment</h2>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div  hidden class="flash-message {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form class="booking-form" method="post" action="{{url_for('home')}}">
       <input type="text" name="patient_name" placeholder="Patient Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="tel" name="phone_number" placeholder="Phone Number" pattern="[0-9]{10}" maxlength="10" minlength="10" required >
    <input type="date" name="date" required>
    <textarea name="problem" placeholder="Describe your problem" maxlength="50" required></textarea>
      <button class="btn">Submit</button>
    </form>
  </div>
  
  <div class="booking-right">
    <!-- <iframe src="https://maps.google.com/maps?q=chennai&z=13&output=embed"></iframe> -->
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d600.3058932642911!2d77.86801206174815!3d9.17515582679009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b06b3336c16d351%3A0x341c66ad3fa32234!2sSS%20HOMOEO%20CLINIC!5e1!3m2!1sen!2sin!4v1774788524227!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>

<!-- WHATSAPP FLOAT -->
<a href="https://wa.me/919443011830" class="whatsapp" target="_blank" onclick="openWhatsApp()">
  <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" alt="whatsapp">
</a>

<!-- FOOTER -->
<footer class="footer">
  <div class="footer-container">
    <div>
      <h3>SS Homoeo Clinic</h3>
      <p>Natural Healing for Modern Life</p>
    </div>
    <div>
      <h4>Quick Links</h4>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Doctors</a>
      <a href="#">Testimonials</a>
    </div>
    
  </div>
  <p class="copyright">© 2026 SS Homoeo Clinic. All rights reserved.</p>
</footer>

<script>
function openWhatsApp() {
    let phoneNumber = "919443011830"; // Replace with clinic number (country code + number)

    let message = "Hello Doctor, I need an appointment for today evening: ";
    
    let url = "https://wa.me/" + phoneNumber + "?text=" + encodeURIComponent(message);

    window.open(url, "_blank");
}
</script>


<script>
  // Toggle Hamburger Menu
function toggleMenu(){
  const nav = document.getElementById('navLinks');
  const toggle = document.querySelector('.menu-toggle');
  nav.classList.toggle('active');
  toggle.classList.toggle('active');
}

// Close menu on link click
document.querySelectorAll('.nav-links a').forEach(link => {
  link.addEventListener('click', () => {
    document.getElementById('navLinks').classList.remove('active');
    document.querySelector('.menu-toggle').classList.remove('active');
  });
});
</script>

</body>
</html>